* {
    background-color: #F3F5FC;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}
main {
    width: 70%;
}

.text-area{
    position: absolute;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 168px;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.textarea::placeholder {
    color: #0A3871;
}

.textarea:focus {
    outline: none;
}

.s-botones {
    position: absolute;
    left: 240px;
    bottom: 40px;
    width: 70%px;
    margin: 0 auto;
}
.botones {
    
    width: 328px;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    margin: 16px;

}

.advertencia {
    position: absolute;

    height: 18px;
    left: 240px;
   bottom: 156px;
}
.exclamacion {
    display: inline-block;

}

.informacion {
    display: inline-block;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */

    /* Gray/gray-400 */

    color: #495057;

    opacity: 0.8;

    /* Inside auto layout */

}

aside {
    position: absolute;
    width: 30%;
    left: 900px;
    top: 40px;
    bottom: 30px;
    background-color: white;
    background-image: url("/imagenes/muñeco.png");
    background-repeat: no-repeat;
    padding-right: 40px;
    border: none;
    border-radius: 32px;
    
}

.mensaje {
    
    
    border: none;
    
    color: #495057;
    margin-left: 98px;
    margin-top: 20px;
    padding: 20px;
        height: 500px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}
.mensaje:focus {
    outline: none;
    
}

.copiar{
    position: absolute;
    bottom: 32px;
}
