* {
    background-color: #F3F5FC;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

section {
    
    position: absolute;
    top: 168px;
    left: 240px;
    bottom: 40px;
    border: none;
}
.text-area{
    
    width: 80%;
    height: 48px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.text-area::placeholder {
    color: #0A3871;
}

.text-area:focus {
    outline: none;
    background: none;
    
}

.s-botones {
    position: absolute;
    bottom: 40px;
    width: 50%px;
    margin: 0 auto;
}
.botones {
   
    width: 220px;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 16px;
    /* Dark blue/dark-blue-300 */

    color: #0A3871;
}

.advertencia {
    position: absolute;

    height: 18px;
    left: 0;
    bottom: 150px;
}
.exclamacion {
    display: inline-block;

}

.informacion {
    display: inline-block;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
 }

aside {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 25%;
    height: 90%;
    margin: 40px;
    background-color: white;
    
    padding-right: 10px;
    border: none;
    border-radius: 32px;

    color: #495057;
    font-family: 'Inter';
    margin: 15px auto;
    text-align: center;
}


.mensaje {
    
    top: 10px;
    display: block;
    background: none;
    background-image: url("imagenes/Muñeco.png");
    background-position: center;
    background-repeat: no-repeat;   
    border: none;
    
    padding: 10px;
    height: 55%;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    margin: 10px auto;
}

.mensaje:focus {
    outline: none;
    background: none;   
}

.m-sinTexto {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}

.mensaje-oculto {
    margin: 8px auto;
    background-color: white;
}

.m-sugerencia {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.copiar{
    display: block;
    visibility: hidden;
    background-color: white;
    margin: 30px auto;
}

footer{
    position: absolute;
    bottom: 10px;
    width: 90%;
    font-family: 'Inter';
    font-size: 15px;
    text-align: center;
    margin: 20px;
    color: #495057
}

.pie-pagina {
    position: relative;
    display: inline-block;
}