* {
    background-color: #F3F5FC;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.text-area{
    position: absolute;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 168px;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.textarea::placeholder {
    color: #0A3871;
}

.textarea:focus {
    outline: none;
}

aside {
    position: absolute;
    
    left: 900px;
    top: 40px;
    padding-right: 40px;
}

.mensaje {
    background: white;
    background-image: url("/imagenes/muñeco.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 32px;
    color: #495057;
    margin-left: 98px;
    margin-top: 20px;
    padding: 20px;
    width: 60%;
    height: 500px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}
.mensaje:focus {
    outline: none;
    background: white;

}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    bottom: 30px;

}

.copiar{
    box-sizing: border-box;
    padding: 24px;
    
    position: absolute;
    width: 60%;
    height: 67px;
    
    margin: 32px auto;

    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    border-radius: 24px;
    bottom: 30px;
}